{% extends "layout.html" %}
{% block title %}Crear Alumno{% endblock %}
{% block content %}
    <div class="container">
        <section class="row pt-4 pb-2 border-bottom">
            <div class="col-9">
                <h2 class="titulo">Alta de alumnos</h2>
            </div>
            <div class="col-3 d-flex justify-content-end">
                {{ comp.btn_link('Volver', 'informe', 'bi bi-arrow-left-short') }}
            </div>
        </section>
        <section class="row">
            <div class="col-md-6 py-3">
                <form action="/crear_alumno" method="post">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre del alumno</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="materia" class="form-label">Materia</label>
                        <select class="form-select" id="materia" name="materia">
                            {% for materia in materias  %}
                            <option value="{{ materia[0] }}">{{ materia[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3 form-floating">
                        <select class="form-select" id="nota1" name="nota1">
                            {% for i in range(1, 11) %}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        <label for="nota1">Nota primer parcial</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <select class="form-select" id="nota2" name="nota2">
                            {% for i in range(1, 11) %}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        <label for="nota2">Nota segundo parcial</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <select class="form-select" id="nota3" name="nota3">
                            {% for i in range(1, 11) %}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        <label for="nota3">Nota final</label>
                    </div>
                    {{ comp.btn_post('Guardar') }}
                </form>
            </div>
        </section>
    </div>
{% endblock %}
