{% extends "layout.html" %}
{% block title %}Informe de Alumnos{% endblock %}
{% block content %}
    <div class="container">
        <section class="row pt-4 pb-2 border-bottom">
            <div class="col-9">
                <h2 class="titulo">Informes de alumnos</h2>
            </div>
            <div class="col-3 d-flex justify-content-end">
                {{ comp.btn_link('Crear alumno', 'crear_alumno') }}
            </div>
        </section>
        <section class="row py-3">
            <div class="col-12">
                <h5 class="titulo-seccion">Listado completo de alumnos</h5>
                <table class="table table-striped">
                    <thead>
                        <th>Nombre</th>
                        <th>Materia</th>
                        <th>Nota1</th>
                        <th>Nota2</th>
                        <th>Nota3</th>
                        <th>NotaFinal</th>
                    </thead>
                    <tbody>
                        {% for alumno in detalle_alumnos %}
                            <tr>
                                <td>{{ alumno[0] }}</td>
                                <td>{{ materias[alumno[1]|int - 1][1] }}</td>
                                <td>{{ alumno[2] }}</td>
                                <td>{{ alumno[3] }}</td>
                                <td>{{ alumno[4] }}</td>
                                <td>{{ alumno[5] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
        <section class="row py-3">
            <div class="col-sm-5">
                <h5 class="titulo-seccion">Promedio general por materia</h5>
                <table class="table table-striped">
                    <thead>
                        <th>Materia</th>
                        <th class="d-flex justify-content-center">Promedio</th>
                    </thead>
                    <tbody>
                        {% for promedio in promedio_por_materia %}
                            <tr>
                                <td>{{ materias[promedio[0]|int - 1][1] }}</td>
                                <td class="d-flex justify-content-center">{{ promedio[1] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-7">
                <h5 class="titulo-seccion">Cantidad de aprobados y desaprobados por materia</h5>
                <table class="table table-striped">
                    <thead>
                        <th>Materia</th>
                        <th>Aprobados</th>
                        <th>Desaprobados</th>
                    </thead>
                    <tbody>
                        {% for reporte in cantidad_aprobados_desaprobados %}
                            <tr>
                                <td>{{ materias[reporte[0]|int - 1][1] }}</td>
                                <td>{{ reporte[1] }}</td>
                                <td>{{ reporte[2] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
        <section class="row py-3">
            <div class="col-sm-6">
                <h5 class="titulo-seccion">Alumnos con al menos una nota menor a 4</h5>
                <table class="table table-striped">
                    <thead>
                        <th>Alumno</th>
                    </thead>
                    <tbody>
                        {% for alumno in alumnos_que_recursan_materias %}
                            <tr>
                                <td>{{ alumno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <h5 class="titulo-seccion">Alumnos con nota final mayor a un valor dado</h5>
                <table class="table table-striped">
                    <thead>
                        <th>Alumno</th>
                        <th>Materia</th>
                        <th>Nota</th>
                    </thead>
                    <tbody>
                        {% for reporte in alumnos_promocionados_por_materia %}
                            <tr>
                                <td>{{ reporte[0] }}</td>
                                <td>{{ materias[reporte[1]|int - 1][1] }}</td>
                                <td>{{ reporte[2] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
{% endblock %}